/*
 * Empty Stylesheet file.
 */

.title{
    -fx-background-color: #4e4e4e;
    
}
title.label:id{
        -fx-text-fill: whitesmoke;
}

.recherche{
    -fx-background-color: #f0f0f0;
    
}
.text-field{
        -fx-background-color: #acacac;
        -fx-background-radius: 60;
        -fx-border-radius: 60;
        -fx-prompt-text-fill: black;
        -fx-text-fill: whitesmoke;
}
.vbox .toggle-button{
    -fx-background-color: #808080;
    -fx-text-fill: white;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-border-width: 3px;
    -fx-border-color: #4e4e4e;
}
.vbox .toggle-button:selected{
    -fx-background-color: #4e4e4e;
    -fx-text-fill: #e5a845;
    -fx-background-radius: 50;
    -fx-effect: dropshadow(three-pass-box, #e5a845,12,0.1,3,3);
}

.pagination .pagination-control .control-box{
    -fx-spacing: 0;
}
.pafination .pagination-control .control-box .left-arrow-button, .right-arrow-button{
    -fx-background-color: transparent,transparent;
    -fx-scale-x: 2.5;
    -fx-scale-y: 2.5;
    -fx-padding: 0 5 0 5;
    -fx-min-width: 30;
    -fx-min-height: 30;
}
.pafination .pagination-control .control-box .rigth-arrow-button, .left-arrow-button{
    -fx-background-color: transparent,transparent;
    -fx-scale-x: 2.5;
    -fx-scale-y: 2.5;
    -fx-padding: 0 5 0 5;
    -fx-min-width: 30;
    -fx-min-height: 30;
}
.paginaton .pagination-control .number-button{
    -fx-background-color:#dddcdc;
    -fx-background-radius: 0;
    -fx-text-fill:Black;
    -fx-border-color: #dddcdc;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-min-width: 30;
    -fx-min-height: 30;
}
.pagination .pagination-control .number-button:selected{
    -fx-background-color: #e5a845;
    -fx-background-radius : 0;
    -fx-text-fill: White;
    -fx-border-color: #e5a845;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    
}
.combo-box{
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-border-color: #808080;
    -fx-border-radius: 30;
    -fx-border-width: 2
}
.combo-box .arrow-button .arrow{
    -fx-scale-x: 2;
    -fx-scale-y: 2;
}

